
    <html>
        <head>
   <link rel="stylesheet" href="{$_subdomain}/css/colorbox/colorbox.css" type="text/css" charset="utf-8" /> 
        <link rel="stylesheet" href="{$_subdomain}/css/contextMenu/jquery.contextMenu.css" type="text/css" charset="utf-8" /> 
       <link rel="stylesheet" href="{$_subdomain}/css/base_css.php?size=950" type="text/css" media="screen" charset="utf-8" /> 
       <script type="text/javascript" src="{$_subdomain}/js/jquery-1.7.1.js"></script>
        <script type="text/javascript" src="{$_subdomain}/js/jquery.jlabel-1.3.min.js"></script> 
        <script type="text/javascript" src="{$_subdomain}/js/jquery.form.min.js"></script>
        <script type="text/javascript" src="{$_subdomain}/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="{$_subdomain}/js/jquery.dataTablesPCCS.js"></script>
        <script type="text/javascript" src="{$_subdomain}/js/jquery.colorbox-min.js"></script>
        <script type="text/javascript" src="{$_subdomain}/js/jquery.contextMenu.js"></script>
       
      
<!--        <script type="text/javascript" src="https://www.google.com/jsapi"></script>-->
<script>
   
    $(document).ready(function() {
  
   $.colorbox({ html:$('#h12s2').html(), title:"Force Add Appointment"});
$('#cboxLoadedContent').css('width','750px');
$('#cboxLoadedContent').css('height','500px');

});

function checkpassFinalized(b){
 
$.post("{$_subdomain}/Diary/checkPass",{ pass:b },
function(data) {

if(data*1==12){

$.post("{$_subdomain}/Diary/insertFinalized",{ appID:{$del} },
function(data) {
 
   $.colorbox.close();
  $('#dummy22').html(data);
    $('#dummy22').show();

    
});
}else{
alert("Wrong password entered");
}
    });
}

</script>
  
    </head>
    <body >
    
    <div id="h12s2" style="display: none">
<div id="deleteAppointment" style="width:340px;height:350px;" align="center" >
    <fieldset style="width:300px;">
    <legend style="font-size:12px">Warning!</legend>
    <div align=center style="margin-top:20px;">
        
       
           
        
            <br>
               
            <p style="margin:none;padding:none;margin-bottom:30px;">
                The day you have selected has already been Optimized and Completed. If you have access rights, you may select Force Add Appointment and the appointment will be inserted successfully.
                </p>
             <form method="post" action="{$_subdomain}/Diary/notReached">     
                  <input type="hidden" name="delete" value="{$del}">
                  <p>Enter Supervisor Password to continue</p>
                  <input type="password" name="pasw" value="" id="finPassw" style="width:250px">

            
                   
                     <button type="button" class="btnStandard"  onclick="$('.ansd').val('0');this.form.submit()"  style="width:100px;float:right">Cancel</button>
                       <button type="button" class="gplus-green"  onclick="checkpassFinalized($(this.form.pasw).val());"  style="width:140px;float:right">Book Appoinment</button>
                     <input type="hidden" id="ansd" class="ansd" name="ans" value="">
               
        </form>
    
    </div>
  </fieldset>
           
    </div>
</div>
<!--        end job  details field set    -->
<!--     $('.ansd').val('1');this.form.submit()    -->
<!--<button  class="gplus-red" type="button" style="background-color:red;color:white;width:140px" onclick="alert('Unfortunately the engineers are at full capacity, if you wish to continue with this booking please contact your supervisor.')"  >Insert appointment</button>-->
<div id="dummy22" style="width:500px;display:none">

</div>
    </body>
     </html>
 
         