<div class="PostCodeNotListedForm" >
<form id="PostCodeNotListedForm" name="PostCodeNotListedForm" method="post"  action="#">


        <fieldset>
        <legend title="GP7506" >{$page['Text']['legend']|escape:'html'}</legend>
        
            <label>
            {$page['Text']['postcode_suggest']|escape:'html'}: <b>{$PostalCode}</b> 
            {$page['Text']['postcode_suggest2']|escape:'html'}
            </label>      


        <p>

        <center>   
            <a  id="search_again_btn" href="#" style="cursor:pointer;" onclick="" >{$page['Buttons']['search_again']|escape:'html'}</a>

            <a id="manual_entry_btn" href="#" style="cursor:pointer;margin-left: 50px"  >{$page['Buttons']['manual_entry']|escape:'html'}</a>


        </center>

        </p>
        </fieldset> 
</form>       
</div>
